
/* ==========================================================================
   Reset
   ========================================================================== */

/* 
html5doctor.com Reset Stylesheet
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
    -webkit-font-smoothing: antialiased;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
p,span,a,strong{-webkit-font-smoothing: antialiased;}


/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
  


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

    button::-moz-focus-inner { border: 0; }
    a::-moz-focus-inner { border: 0; }

    html,body{
    height: 100%;

}

html,
button,
input,
select,
textarea {
    color: #333;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-style: normal;
    
}

body {
    font-size: 1em;
    line-height:20px;
    padding: 0 0;
    min-height: 100%;
    background: #fff;
    }

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

h1,h2,h3{font-weight: normal;
  font-smoothing: antialiased;
-webkit-font-smoothing: antialiased;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}



a{
color: #01abc9;
text-decoration: none;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out; 
} 
    
a:hover{
color: #00a9ff; 
text-decoration: none;
} 

a img{
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; 
}

a:hover img{
opacity: 0.8;
filter: alpha(opacity=80);
}



div,header,ul,section,article, aside{
     
}

.grid-container {
padding-left: 5%;
padding-right: 5%;
}

/********
HEADER 
********/


header{
/* box-shadow: 0px 0px 1px red;  */
  background-color: #fff;
}


header{

 

  background: url('../img/gesit.jpg') no-repeat top center scroll;
background-position: center -20px;
 
  z-index: 2;
  min-height:590px;
  }

.logo img{
  width: 100%;
  max-width: 112px;
}


header nav{

   float: right;
     z-index: 322;
  position: relative;
}


header nav ul{
float: right;

 margin-top:50px;
 
}

nav li{
float:left;
margin-left:45px;
}

nav li a{
  color:#01abc9;
  font-size: 17px;
}


.lang {
  position: absolute;
  right:0;
  top:2px;
  margin-right:-10px;
    
    
}

.lang ul{
  float: right;


}
.lang li{
  list-style-type: none;
  float: left;

}

.lang ul:hover li a{
  color:#ccc;
}
.lang li a{
  padding:5px 8px;
  font-size: 13px;
  color:#ccc;
  }

  .lang ul li a:hover{
    background:#f3f3f3;
     color:#01abc9;
  }

  .lang li.active a{
    color:#01abc9;
  }

header h1{

  text-align: center;
  font-size: 46px;
  color: #333;
  margin-top:312px;
  margin-bottom:100px;
}

header.sticky .menu-wrapper{
position: fixed;
background-color: #fff;
width: 100%;
box-shadow: 0px 0px 8px 0px #666;
z-index: 322;
}



header.sticky .logo img{
  width:50px;
  height:auto;
  margin:10px 0;

  }

 header.sticky nav ul{
  margin-top:25px;
 }
 header.sticky nav li a{
  font-size: 16px;
 }

/***

REKRUTACJA

*****/

.perspective {
-webkit-perspective: 800px;
-moz-perspective: 800px;
perspective: 800px;
display: inline-block;
margin-bottom:7%;

}


/* Button 8*/
.btn {
border: none;
font-family: inherit;
font-size: inherit;
color: inherit;
background: none;
cursor: pointer;
padding: 25px 80px;
display: inline-block;
margin: 15px 30px;
text-transform: uppercase;
letter-spacing: 1px;
font-weight: 700;
outline: none;
position: relative;
-webkit-transition: all 0.3s;
-moz-transition: all 0.3s;
transition: all 0.3s;
}

.btn:after {
content: '';
position: absolute;
z-index: -1;
-webkit-transition: all 0.3s;
-moz-transition: all 0.3s;
transition: all 0.3s;
}

.btn-8 {
display: block;
background: #5cbcf6;
-webkit-transform-style: preserve-3d;
-moz-transform-style: preserve-3d;
transform-style: preserve-3d;
color:white;
font-weight: 200;
}


.btn-8b:after {
  width: 100%;
  height: 40%;
  left: 0;
  top: 100%;
  background: #49a7df;
  -webkit-transform-origin: 0% 0%;
  -webkit-transform: rotateX(-90deg);
  -moz-transform-origin: 0% 0%;
  -moz-transform: rotateX(-90deg);
  -ms-transform-origin: 0% 0%;
  -ms-transform: rotateX(-90deg);
  transform-origin: 0% 0%;
  transform: rotateX(-90deg);
}

.btn-8b:hover {
  -webkit-transform: rotateX(15deg);
  -moz-transform: rotateX(15deg);
  -ms-transform: rotateX(15deg);
  transform: rotateX(15deg);
  color:white;
}




/*********
IDEA
*********/
.idea{
  background-color:#01abc9;
  padding: 5% 0;
}

.rownanie{

margin-bottom: 30px;

} 

.rownanie img{
  display: block;
  float:left;
}

.rownanie span{
font-size: 48px;
font-weight: 700;
color: #fff;
margin:20px 20px 0 20px;
display: block;
float:left;

}

.idea p{
font-size: 12px;
color: #fff;
font-size: 32px;
line-height: 1.3em;
font-weight: normal;
-webkit-font-smoothing: antialiased;
  }

  .idea p strong{
    color:#f8e615;
  }



/*********
OFERTA
*********/


.oferta{
  font-size: 22px;
  line-height: 30px;
   padding: 45px 0;

}

.oferta h1{
  font-size: 30px;
  color:#01abc9;
  margin-bottom:1.7em;
  }

.oferta img{
  float:left;
  width:10%;
  max-width: 64px;
  height: auto;
}


.oferta span{
  margin-left:17%;
  display: block;
  margin-bottom:80px;
}


/*********
PRZEWAGA
*********/


.przewaga{
  background-color:#01abc9;
  padding: 5% 0;
  color:#fff;
}

.przewaga img{
  float:right;
  margin-right:20px;
}

.przewaga p{
  text-align:right;
  margin-right:17%;
  font-size: 32px;
  line-height: 1.4em;
  -webkit-font-smoothing: antialiased;
}

.przewaga p strong{
    color:#f8e615;
  }


/*********
KONTAKT
*********/

.kontakt{
  padding: 5% 0;
  line-height: 1.5em;

}
.map{text-align: right;}
.map img{width:100%;}
.kontakt h1{
  font-size: 30px;
  color:#01abc9;
  margin-bottom:10%;
}

.kontakt h2{
  font-size: 26px;
  margin-bottom: 2%;
}

.kontakt p{
  font-size: 16px;
  margin-bottom:5%;
}

#map_canvas{
  height:300px;
  background: #f8f8f8;
}

/*********
KONTAKT
*********/

.footer{
margin-top:80px;
margin-bottom: 20px;
}

.footer h1{
text-align: center;
font-size: 36px;
line-height: 1.5em;
margin-bottom:50px;

}

/*********
PRZEWAGA
*********/


.kariera{
  background-color:#01abc9;
  padding: 5% 0;
  color:#fff;
}

.kariera h1{
font-size: 36px;
margin-bottom:1.4em; 
margin-top:25px;
}

.kariera h2{
font-size: 22px;

margin-bottom:2em; 
}


.kariera img{
  float:left;
  margin-bottom:50px;
  width: 70px;
  position: relative;
}

.kariera p{
  text-align:left;
  margin-right:17%;
  font-size: 18px;
  line-height: 32px;
  -webkit-font-smoothing: antialiased;
}
.kariera a{
  color:white;

}
.kariera a:hover{
opacity: 0.5;
}

.kariera p strong{
    color:#f8e615;
    font-size: 15px
    margin-bottom:10px;
  }

.kariera ul {
  margin-top:10px;
  margin-bottom:10px;
}

  .kariera ul li{

    font-size: 14px;
    margin-bottom: 5px;
    line-height: 1.4em;
  }





/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
 .menu-wrapper{
   
  }


/* RWD Desktop first */
/* maks. szerokość 1441px - duże ekrany */
@media only screen and (max-width: 90em) { 

  

}

/* maks. szerokość 1024px - tablety */
@media only screen and (max-width: 64em) { 
 

}



/* maks. szerokość 640px - telefony */
@media only screen and (max-width: 40em) { 

  .top{
    width:100%;
    
    padding: 0 0;
  }
  .logo{
    
    margin:15px 0 0 0;

  }
 

    .lang{

    font-size: 13px;
    

  }

   .lang li a{
    margin: 0 0;
    padding:10px 8px;

   }
   
 nav.menu{
    
    padding: 0 0;
    margin-top:30px;


  }

  header nav ul{
    float:none;
    margin: 0 0;
    
  }

  nav li{
    display: block;
    width:50%;
    border-top: 1px solid #fff;
    border-right:1px solid #fff;
    margin:0 0;
    text-align: center;
  }

nav li a {
  display: block;
  color: #01abc9;
  margin: 0 0;
  font-size: 15px;
   padding:8px 0;
   background: #f5f5f5;
    
}

header.sticky .lang{
  display: none;
 
 }

 header.sticky nav.menu{
  margin:0;
 }

  header.sticky nav ul{
  margin:0;
 }


  header.sticky .logo{
  margin-top:0;
  text-align: center;
}

   header.sticky nav li{
  
  width:25%;
 }

 header.sticky nav li a{
  font-size: 13px;
  padding-top:23px;
  padding-bottom:23px;
 }

 .rownanie{
  margin-bottom: 18px;
 }
 
 .rownanie img{
  -webkit-transform: scale(0.6);
 }

 .rownanie span{
  margin: 17px 10px 0 10px;
 }

 .idea p, .przewaga p {
  font-size: 12px;
  color: #fff;
  font-size: 24px;
  margin-bottom: 20px;
  margin-top: 10px;
  text-align: left;
}

.przewaga img{
  width:30px;
  float: right;
  margin-right:15px;
  margin-bottom:-10px;
} 



}

