@font-face {
	font-family: 'gesit-icon';
	src:url('fonts/gesit-icon.eot?lbqd7a');
	src:url('fonts/gesit-icon.eot?#iefixlbqd7a') format('embedded-opentype'),
		url('fonts/gesit-icon.woff?lbqd7a') format('woff'),
		url('fonts/gesit-icon.ttf?lbqd7a') format('truetype'),
		url('fonts/gesit-icon.svg?lbqd7a#gesit-icon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'gesit-icon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-zarowka:before {
	content: "\e600";
}
.icon-wykres:before {
	content: "\e601";
}
.icon-rowna:before {
	content: "\e602";
}
.icon-reprez:before {
	content: "\e603";
}
.icon-rakieta:before {
	content: "\e604";
}
.icon-plus:before {
	content: "\e605";
}
.icon-oprogramowanie:before {
	content: "\e606";
}
.icon-gesit:before {
	content: "\e607";
}
.icon-komp:before {
	content: "\e608";
}
.icon-integracja:before {
	content: "\e609";
}
.icon-doradztwo:before {
	content: "\e60a";
}
